*.swp
__pycache__/**
__pycache__/
# Downloaded checkpoints and locally supplied datasets
pretrained_weight/
data/CoSign/
out/
core*
*.ipynb
# *.sh
*.bin
wandb
backup
*.pth
#*.txt
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
pre_training.py
